{% load static %}

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'coevaluador/css/bootstrap.min.css' %}"/>
    <link rel="stylesheet" href="{% static 'coevaluador/css/coeval.css' %}"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
    <script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
    <script src="{% static 'coevaluador/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'coevaluador/js/coeval.js' %}"></script>
    <title>Sistema de Coevaluaciones DCC</title>
</head>
<body>
<!-- Barra superior -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark px-5 py-3">
    <a class="navbar-brand" href="./">Sistema de Coevaluaciones DCC</a>
    <!-- Al achicar la pantalla, el menú se oculta y se vuelve desplegable mediante este botón. -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon">
                    <i class="fa fa-navicon"></i>
                </span>
    </button>

    <!-- Menú superior-derecha -->
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
            <li class="divider-vertical"></li>
            <li class="nav-item">
                <a class="nav-link" href="#"> {{ student.get_full_name }} </a>
            </li>
            <li class="divider-vertical"></li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'coevaluador:logout' %}">Cerrar Sesión</a>
            </li>
        </ul>
    </div>
</nav>
<!-- FIN Barra superior -->

<!-- Password change -->
<div class="container"> <!-- Contenedor responsivo, se adapta a la pantalla con puntos de quiebre. -->
    <div class="row mt-5 align-content-center" style="display: block">
        <h4 class="d-inline-block mt-1">Cambiar contraseña</h4>
        <form method="post">
            {% csrf_token %}
            <div class="form-group">
                <label for="passOld">Ingrese su contraseña actual</label>
                <p>{{form.old_password}}</p>
            </div>
            <div class="form-group">
                <label for="passNew">Ingrese su nueva contraseña</label>
                <p>{{form.new_password1}}</p>
            </div>
            <div class="form-group">
                <label for="passNewConfirm">Confirme su nueva contraseña</label>
                <p>{{form.new_password2}}</p>
            </div>
            <button type="submit" class="btn btn-primary-custom">Confirmar</button>
            <button type="button" class="btn btn-cancel" onclick="window.location.href='{% url 'coevaluador:ownerProfile' %}'">Cancelar</button>
        </form>
    </div>
</div>
</body>