{% load static %}

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'coevaluador/css/bootstrap.min.css' %}"/>
    <link rel="stylesheet" href="{% static 'coevaluador/css/coeval.css' %}"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
    <script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
    <script src="{% static 'coevaluador/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'coevaluador/js/coeval.js' %}"></script>
    <title>Sistema de Coevaluaciones DCC</title>
</head>
<body>
<!-- Barra superior -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark px-5 py-3">
    <a class="navbar-brand" href="{% url 'coevaluador:home' %}">Sistema de Coevaluaciones DCC</a>
    <!-- Al achicar la pantalla, el menú se oculta y se vuelve desplegable mediante este botón. -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon">
                    <i class="fa fa-navicon"></i>
                </span>
    </button>

    <!-- Menú superior-derecha -->
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
            <form class="nav-link form-inline my-2 my-lg-0">
                <input class="form-control" type="search" placeholder="Buscar alumno..." aria-label="Buscar alumno">
            </form>
            <li class="divider-vertical"></li>
            <li class="nav-item">
                <a class="nav-link" href="#">{{ user.get_full_name }}</a>
            </li>
            <li class="divider-vertical"></li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'coevaluador:logout' %}">Cerrar Sesión</a>
            </li>
        </ul>
    </div>
</nav>
<!-- FIN Barra superior -->

<!-- Cuerpo -->
<div class="container"> <!-- Contenedor responsivo de Bootstrap, se adapta a la pantalla usando columnas. -->

    <!-- Formulario para agregar una coevaluación. -->
    <!-- Permanece oculto hasta apretar el botón correspondiente. -->
    <div id="add-coev-form" class="mb-4">
        <h4 class="mt-3">Agregar Coevaluación</h4>
        <form action="{% url 'coevaluador:addCoevaluation' %}" method="post">
            {% csrf_token %}
            <div class="form-row">
                <div class="form-group col-6">
                    <label for="titleCoev">Título de la coevaluación</label>
                    <input type="text" class="form-control" id="titleCoev" required
                           placeholder="ej: Tarea 1, Presentación 3, etc." name="co_title">
                </div>
                <div class="form-group col-6 h0">
                    <label for="inputCourseYear"></label>
                    <input id="inputCourseYear" class="form-control invisible" name="course_year"
                           value="{{ course.year }}">
                    <label for="inputCourseSemester"></label>
                    <input id="inputCourseSemester" class="form-control invisible" name="course_semester"
                           value="{{ course.semester }}">
                    <label for="inputCourseName"></label>
                    <input id="inputCourseName" class="form-control invisible" name="course_name"
                           value="{{ course.name }}">
                    <label for="inputCourseSection"></label>
                    <input id="inputCourseSection" class="form-control invisible" name="course_section"
                           value="{{ course.section }}">
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-3">
                    <label for="dateTimeStartCoEv">Fecha y Hora de inicio</label>
                    <input type="datetime-local" class="form-control" id="dateTimeStartCoEv"
                           required placeholder="dd/mm/yyyy" name="co_s_date">
                </div>

                <div class="form-group col-3 offset-3">
                    <label for="dateTimeEndCoev">Fecha y Hora límite</label>
                    <input type="datetime-local" class="form-control" id="dateTimeEndCoev"
                           required placeholder="dd/mm/yyyy" name="co_e_date">
                </div>
            </div>
            <button type="submit" class="btn btn-primary-custom">Confirmar</button>
            <button type="button" class="btn btn-cancel" onclick="cancelAdd()">Cancelar</button>
        </form>
        <hr/>
    </div>
    <!-- FIN Formulario agregar coevaluación -->

    <h3 class="d-inline-block page-title">Ficha de Curso</h3>
    <h5 class="mb-3">
        <div class="cargos cargos-{% if course in user.course_as_student %}alumno
                                        {% elif course in user.courses_as_teacher %}profesor
                                        {% elif course in user.courses_as_aide %}ayudante
                                        {% else %}auxiliar
                                        {% endif %}"></div>
        {{ course.code }}-{{ course.section }} {{ course.name }} {{ course.year }}, {{ sem_str }}
    </h5>
    <hr/>
    <!-- Tablas de resumen -->
    <div class="row">
        <!-- Tabla de coevaluaciones -->
        <div class="col-md-10 offset-1 mb-5">
            <h4 class="d-inline-block mt-1">Coevaluaciones del curso</h4>
            <button type="button" id="add-coev-btn" class="btn btn-primary-custom float-right" onclick="addCoev()">
                Agregar coevaluación
            </button>

            <div class="table-wrap table-responsive my-1"> <!-- "Envoltura" de la tabla -->
                <table class="table table-coeval-curso table-striped table-hover mb-0"> <!-- Tabla -->
                    <!-- Encabezados de tabla (Table Headers) -->
                    <thead class="thead-light">
                    <tr> <!-- Fila (Table Row) -->
                        <th class="th-fecha">Fecha inicio</th>
                        <th class="th-titulo">Nombre</th>
                        <th class="th-fecha">Fecha límite</th>
                        <th class="th-estado">Estado</th>
                        <th class="th-iconos"></th>
                    </tr>
                    </thead>

                    <!-- Cuerpo de tabla (Table Data) -->
                    <tbody>
                    {% for c in coevaluations %}
                        <tr>
                            <!-- Fecha de inicio -->
                            <td class="td-fecha">
                                {{ c.s_date|date:"d/m/y" }}
                                {{ c.s_date|time:"H:i" }}
                                <!-- Ícono de lápiz -->
                                <a href="#" title="Editar fecha de inicio">
                                    <img class="clickable-icon mb-1"
                                         src="{% static 'coevaluador/icon/edit-icon.png' %}" alt="editar fecha"
                                         width="13" height="13">
                                </a>
                            </td>
                            <!-- Título de coevaluación -->
                            <td>{{ c.name }}</td>
                            <!-- Fecha de término -->
                            <td class="td-fecha">
                                {{ c.e_date|date:"d/m/y" }}
                                {{ c.e_date|time:"H:i" }}
                                <!-- Ícono de lápiz -->
                                <a href="#" title="Editar fecha de término">
                                    <img class="clickable-icon mb-1"
                                         src="{% static 'coevaluador/icon/edit-icon.png' %}" alt="editar fecha"
                                         width="13" height="13">
                                </a>
                            </td>
                            <!-- Estado -->
                            <td>{{ c.status }}</td>
                            <!-- Ícono de acción (responder) -->
                            <td class="td-icon">
                                {% if c.status == 'Cerrada' %}
                                    <a href="#" title="Publicar resultados">
                                        <img class="clickable-icon publish-icon wiggle"
                                             src="{% static 'coevaluador/icon/publish-icon.png' %}"
                                             alt="Publicar resultados" width="28"
                                             height="28">
                                    </a>
                                {% elif c.status == 'Publicada' %}
                                    <a href="#" title="Exportar resultados">
                                        <img class="clickable-icon export-icon"
                                             src="{% static 'coevaluador/icon/export-icon.png' %}"
                                             alt="Exportar resultados" width="28"
                                             height="28">
                                    </a>
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <!-- FIN Tabla de coevaluaciones -->
    </div>
    <!-- FIN Tablas de resumen -->

    <!-- Gestión del curso -->
    <h4 class="d-inline-block mt-1 mb-0">Gestión del Curso</h4>
    <div class="d-inline-block ml-2">
        <a href="#" class="small" title="Cargar información desde archivo">
            <img class="clickable-icon export-icon mb-1"
                 src="{% static 'coevaluador/icon/load-data-icon.png' %}"
                 alt="Cargar información desde archivo"
                 width="20" height="20">Cargar archivo...</a>
    </div>
    <hr/>
    <div class="row mb-5">
        <div class="col-md-6 text-center">
            <form>
                <input class="form-control width-auto float-right" type="search" placeholder="Buscar alumno..."
                       aria-label="Buscar alumno">
            </form>
        </div>

        <div class="col-md-6 text-center">
            <button type="button" id="add-coev-btn" class="btn btn-primary-custom float-left">Agregar alumno
            </button>
        </div>
    </div>
    <div class="row">

        <div class="col-md-12 text-center">
            <button type="button" id="add-coev-btn" class="btn btn-primary-custom float-left">Agregar grupo</button>
        </div>

        <!-- Tabla de grupos -->
        {% for wt in work_teams %}
            <div class="col-md-6">
                <div class="table-wrap table-responsive my-1"> <!-- "Envoltura" de la tabla -->
                    <table class="table table-coeval-curso table-striped table-hover mb-0"> <!-- Tabla -->
                        <!-- Encabezados de tabla (Table Headers) -->
                        <thead class="thead-light">
                        <tr> <!-- Fila (Table Row) -->
                            <th class="th-grupo">{{ wt.0.name }}</th>
                            {% for c in published_co_evs %}
                                <th class="th-t1">{{ c.name }}</th>
                            {% endfor %}
                        </tr>
                        </thead>

                        <!-- Cuerpo de tabla (Table Data) -->
                        <tbody>
                        {% for m in wt.1 %}

                            <tr>
                                <!-- Nombre de miembro del equipo -->
                                <td class="td-members">
                                    {{ m.student.get_full_name }}
                                </td>
{#                                TODO: for c_sheets#}
{#                                <!-- Calificación -->#}
{#                                <td class="td-calificación">7.0</td>#}
{#                                <td class="td-calificación">6.8</td>#}
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        {% endfor %}
    </div>
</div>

</body>